Flask
Flask-Bcrypt
Flask-CORS
Flask-Limiter
Flask-Limiter[redis]
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Redis
Flask-RESTful
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flask-jwt-extended
flask-marshmallow
flasgger
email_validator
folium
geopandas
geopy
geojson
gunicorn
ipykernel
jupyter
marshmallow
marshmallow-sqlalchemy
numpy
openpyxl
pandas
passlib[bcrypt]
pendulum
pip
plotly
psycopg2
pydantic
python-dotenv
PyMySQL
pytest
pytz
cryptography
redis
setuptools
wheel
virtualenv
xlsxwriter
